// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3, $margin__columns: 0) {
	width: map-get($columns, $numberColumns) - ( ( $margin__columns * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
 }
 
 // Large devices
 @mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
 }