.site {
	display: block;
}
.container {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.section-title {
	display: block;
	width: 100%;
	padding-bottom: 30px;
}
.no-results {
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	align-items: center;

	& .page-content {
		margin: 0;
	}

	& .search-form {
		margin-top: 20px;
	}

	& input[type=search] {
		width: 75%;
		padding: 10px 20px;
	}

	& .search-submit {
		padding: 14px 20px;
	}
}
.site-footer {
	.container {
		display: flex;
		justify-content: center;
		padding: 20px 0;
		background-color: #fff;
		text-align: center;
		font-size: .7em;
	}
}

@include lg() {
	.site {
		display: block;

		.home-content {
			width: 100% !important;
		}

		.content-area {
			display: flex;
			padding-top: 30px;
			padding-bottom: 60px;

			& > * {
				flex-grow: 1;
			}

			.widget-area {
				padding-left: 30px;
				width: 35%;
			}
		}
		.site-footer {
			.container {
				font-size: .9em;
			}
		}
	}
	.container {
		width: 100%;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
	.no-results {
		& input[type=search] {
			width: 85%;
		}
	}
}

@import "no-sidebar";