.site {
	display: block;
}
.container {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.section {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.section-title {
	display: block;
	width: 100%;
	padding-bottom: 30px;
}

// .site-header {
// 	grid-area: header;
// }

// .site-main {
// 	grid-area: main;
// 	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
// }

// .widget-area {
// 	grid-area: sidebar;
// }

// .site-footer {
// 	grid-area: footer;
// }
.site-footer {
	.container {
		display: flex;
		justify-content: center;
		padding: 20px 0;
		background-color: #fff;
		text-align: center;
		font-size: .7em;
	}
}

@include lg() {
	.site {
		display: block;

		.home-content {
			width: 100% !important;
		}

		.content-area {
			display: flex;
			padding-top: 30px;
			padding-bottom: 60px;

			& > * {
				flex-grow: 1;
			}

			.widget-area {
				padding-left: 30px;
				width: 35%;
			}
		}
		.site-footer {
			.container {
				font-size: .9em;
			}
		}
	}
	.container {
		width: 100%;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}

@import "no-sidebar";