.search-result {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1030;
    
    & .search-products {
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.062);
    }

    & img {
        max-width: 40px;
    }

    & li {
        display: inline-block;
        width: 100%;
        padding: 15px 20px;
    }
    
    & .product-image, & .product-content {
        display: inline-block;
        vertical-align: middle;
    }
    & .product-content {
        padding-left: 15px;
    }
}

@include lg() {
}