$color__background-body: #fafafa;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #1179ba52;

$color__primary: #34c6d0;
$color__secondary: #117aba;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__background-text-input: #efefef;
$color__text-input-focus: #efefef;
$color__background-text-input-focus: #dcdada;
$color__link: #117bb9; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;
